
header {
  height: 70px;
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  justify-content: space-evenly;
  z-index: 1000;

  .logo {
    height: 100%;
    width: 10%;
    overflow: hidden;

    img {
      height: 160%;
      width: 70%;
      margin-top: -17px;
    }
  }

  .bars {
    display: none;
  }

  nav {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80%;

    a {
      position: relative;
      text-decoration: none;
      color: rgb(26, 26, 26);
      font-size: 16px;
      padding: 5px 0;
      transition: color 0.3s ease;
    }

    a::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: rgb(14, 14, 14);
      transition: width 0.3s ease;
    }
  }

  nav a:hover::after {
    width: 100%;
  }


  .icon {
    height: 80%;
    width: 15%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .insta{
    color: green;
  }
  .insta:hover{
    color: rgb(255, 170, 0);
    transform: rotateY(360deg);
    /* transform: rotateY('30deg'); */
    transition: 1s;
  }
}

